.toolCard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 250px;
  height: 360px;
  margin: 30px;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 20px 0px rgb(192, 192, 192);
  border-radius: 5px;
}

.toolCard-img {
  width: 250px;
  height: 270px;
}

.toolCard-title {
  font-size: 16px;
  font-weight: 100;
  margin: 10px 10px;
  text-align: center;
}

.toolCard-button {
  text-decoration: none;
  background-color: #1cb85f;
  color: #fff;
  border-radius: 5px;
  padding: 7px 12px;
  margin-bottom: 13px;
}

@media screen and (max-width: 640px) {
  .toolCard {
    margin: 5px;
    min-height: 0px;
  }

}