.nutrition-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  width: 320px;
  height: 340px;
  margin: 100px 10px 0px 10px;
  filter: brightness(1);
}

.nutrition-card:hover {
  filter: brightness(0.8);
  transition: 0.5s;
}

.nutrition-card-img {
  width: 100%;
  height: 300px;
  border-radius: 5px;
}


.nutrition-card-title {
  color: #111;
  font-weight: 400;
  text-align: center;
  width: 80%;
  height: 20px;
  margin-top: 10px;
}

.nutrition-card-title-orange {
  color: #f8b534;
}

@media screen and (max-width: 1330px) {
  .nutrition-card {
    margin: 10px;
  }
}

@media screen and (max-width: 670px) {
  .nutrition-card {
    margin-top: 5px;
    height: 370px;
  }
}
